* {
  padding: 0;
  margin: 0;
}
.year {
  position: absolute;
  width: 950px;
  height: 460px;
  left: 50px;
  top: 60px;
  opacity: 0.7;
  background-color: #1c1a2f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.year .title {
  height: 45px;
  width: 358px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.year #yearAndTower {
  width: 950px;
  height: 424px;
}
.zhedanshu {
  position: absolute;
  width: 950px;
  height: 520px;
  float: left;
  left: 2010px;
  top: 650px;
  bottom: 0px;
  z-index: 100;
  opacity: 0.7;
  background-color: #1c1a2f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zhedanshu .title {
  height: 45px;
  width: 358px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zhedanshu #tongjitu {
  width: 950px;
  height: 555px;
}
.top {
  position: absolute;
  width: 952px;
  height: 521px;
  float: left;
  left: 2010px;
  top: 60px;
  bottom: 0px;
  z-index: 101;
  opacity: 0.9;
  background-color: #1c1a2f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0;
  margin: 0;
}
.top .title {
  height: 45px;
  width: 358px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.top .eight {
  width: 952px;
  height: 476px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.top .eight div.topeight {
  box-sizing: border-box;
  width: 25%;
  height: 50%;
  background-color: rgba(30, 37, 50, 0.5);
  background-clip: content-box;
  position: relative;
  border: 1px solid rgba(44, 59, 96, 0.5);
}
.top .eight div.topeight div {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.top .eight div.topeight div p {
  text-align: left;
}
.top .eight div.topeight:nth-child(1) {
  position: relative;
  background: url(../image/CQdistrict/jiulongpo.png) no-repeat;
  background-size: cover;
}
.top .eight div.topeight:nth-child(2) {
  position: relative;
  background: url(../image/CQdistrict/banan.png) no-repeat;
  background-size: cover;
}
.top .eight div.topeight:nth-child(3) {
  position: relative;
  background: url(../image/CQdistrict/beibei.png) no-repeat;
  background-size: cover;
}
.top .eight div.topeight:nth-child(4) {
  position: relative;
  background: url(../image/CQdistrict/bishan.png) no-repeat;
  background-size: cover;
}
.top .eight div.topeight:nth-child(5) {
  position: relative;
  background: url(../image/CQdistrict/changshou.png) no-repeat;
  background-size: cover;
}
.top .eight div.topeight:nth-child(6) {
  position: relative;
  background: url(../image/CQdistrict/chengkou.png) no-repeat;
  background-size: cover;
}
.top .eight div.topeight:nth-child(7) {
  position: relative;
  background: url(../image/CQdistrict/jiangjin.png) no-repeat;
  background-size: cover;
}
.top .eight div.topeight:nth-child(8) {
  position: relative;
  background: url(../image/CQdistrict/jiulongpo.png) no-repeat;
  background-size: cover;
}
.top .eight div.topeight .image {
  width: 100%;
  height: 61%;
  background-color: rgba(30, 37, 50, 0.5);
}
.top .eight div.topeight span {
  display: block;
}
.mainpower {
  position: absolute;
  width: 950px;
  height: 360px;
  float: left;
  left: 50px;
  top: 790px;
  bottom: 0px;
  z-index: 102;
  opacity: 0.7;
  background-color: #1c1a2f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainpower .title {
  height: 45px;
  width: 358px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainpower #tongJi1 {
  width: 950px;
  height: 315px;
}
.gongcheng {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.constructor {
  position: absolute;
  width: 950px;
  height: 250px;
  left: 50px;
  top: 530px;
  z-index: 10;
  opacity: 0.7;
  background-color: #1c1a2f;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.constructor .title {
  height: 45px;
  width: 358px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.constructor .touchan {
  width: 230px;
  height: 230px;
}
.constructor .touchan #touchan {
  width: 200px;
  height: 200px;
}
.constructor .sheji {
  width: 230px;
  height: 230px;
}
.constructor .sheji #sheji {
  width: 200px;
  height: 200px;
}
.constructor .zaijian {
  width: 230px;
  height: 230px;
}
.constructor .zaijian #zaijian {
  width: 200px;
  height: 200px;
}
#middle {
  color: white;
  font-size: 27px;
  position: absolute;
  width: 700px;
  height: 120px;
  float: left;
  left: 1150px;
  top: 1050px;
  bottom: 0px;
  z-index: 102;
  opacity: 0.7;
  background-color: #1c1a2f;
  border-radius: 5px;
  display: flex;
  justify-content: left;
}
#middle div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
