*{
    padding: 0;
    margin: 0;
}
.year{
    position: absolute;
    width: 954px;
    height:500px;
    left: 0px;
    top:0px;
    //background-image:url(../image/tongJi1.png);
    opacity: .8;
    background-color: rgb(28, 26, 47);
    // radius: 5px;border-
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        height: 73px;
        width: 954px;
        font-size: 20px;
        display: flex;
        background-color: rgb(40, 48, 70);
       // justify-content: center;
        align-items: center;
        div{
            display: flex;
            flex-direction: row;
            img{
                margin-left: 20px;
                margin-right: 20px;
               
            }
            font-size: 20px;
            
        }
    }
    #yearAndTower{
        width: 950px;height:424px;
    }
}
// 折单公里数
.zhedanshu{
    position: absolute;
    width: 950px;
    height:512px;
    float: left;
    left:2046px;
    top:688px;
    bottom: 0px;
    z-index: 103;
   // background-image:url(../image/zhedan.png);
    opacity: .8;
    background-color: rgb(28, 26, 47);
    // border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        height: 73px;
        width: 954px;
        font-size: 20px;
        display: flex;
        background-color: rgb(40, 48, 70);
       // justify-content: center;
        align-items: center;
        div{
            display: flex;
            flex-direction: row;
            img{
                margin-left: 20px;
                margin-right: 20px;
               
            }
            font-size: 20px;
            
        }
    }
    #tongjitu{
        width: 950px;
        height:555px;  
    }
}
//区域工程前五名排行榜
.top{
    position: absolute;
    width: 952px;
    height:553px;
    float: left;
    left:2046px;
    top:0px;
    bottom: 0px;
    z-index: 101;
    // background-image:url(../image/zhedan.png);
    opacity: .9;
    background-color: rgb(28, 26, 47);
    // border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
    margin: 0;
    .title{
        height: 73px;
        width: 954px;
        font-size: 20px;
        display: flex;
        background-color: rgb(40, 48, 70);
       // justify-content: center;
        align-items: center;
        div{
            display: flex;
            flex-direction: row;
            img{
                margin-left: 20px;
                margin-right: 20px;
               
            }
            font-size: 20px;
            
        }
    }
    .eight{
        width: 952px;
        height:476px;
        //background-color: green;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        div.topeight{
            box-sizing: border-box;
            width: 25%;
            height: 50%;
            background-color: rgba(30, 37, 50,.5);
            // padding: 5px;
            background-clip: content-box;
            position: relative;
            border: 1px solid rgba(44, 59, 96,.5);
           div{
               position: absolute;
               bottom: 0;
               left: 10px;
               p{
                  text-align: left; 
               }
           }
            &:nth-child(1){
              //  background-color: red;
                position: relative;
                background: url(../image/CQdistrict/jiulongpo.png) no-repeat; 
                background-size: cover; 
            }
            &:nth-child(2){
                //  background-color: red;
                  position: relative;
                  background: url(../image/CQdistrict/banan.png) no-repeat; 
                  background-size: cover; 
              }
              &:nth-child(3){
                //  background-color: red;
                  position: relative;
                  background: url(../image/CQdistrict/beibei.png) no-repeat; 
                  background-size: cover; 
              }
              &:nth-child(4){
                //  background-color: red;
                  position: relative;
                  background: url(../image/CQdistrict/bishan.png) no-repeat; 
                  background-size: cover; 
              }
              &:nth-child(5){
                //  background-color: red;
                  position: relative;
                  background: url(../image/CQdistrict/changshou.png) no-repeat; 
                  background-size: cover; 
              }
              &:nth-child(6){
                //  background-color: red;
                  position: relative;
                  background: url(../image/CQdistrict/chengkou.png) no-repeat; 
                  background-size: cover; 
              }
              &:nth-child(7){
                //  background-color: red;
                  position: relative;
                  background: url(../image/CQdistrict/jiangjin.png) no-repeat; 
                  background-size: cover; 
              }
              &:nth-child(8){
                //  background-color: red;
                  position: relative;
                  background: url(../image/CQdistrict/jiulongpo.png) no-repeat; 
                  background-size: cover; 
              }
           
            .image{
                width:100%;
                height: 61%;
                background-color: rgba(30, 37, 50,.5);
            }
            span{
                display: block;
            }
            
        }
    }
}
// 主变容量


//不同电压对应百分比
.mainpower{
 
    position: absolute;
    width: 954px;
    height:402px;
    float: left;
    left:0px;
    top:798px;
    bottom: 0px;
    z-index: 102;

    //background-image:url(../image/mainpower.png);
    opacity: .8;
    background-color: rgb(28, 26, 47);
    // border-radius: 5px;
   // filter:alpha(opacity=20);  
    // -moz-opacity:0.2;  
    // -khtml-opacity: 0.2;  
    // opacity: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        height: 73px;
        width: 954px;
        font-size: 20px;
        display: flex;
        background-color: rgb(40, 48, 70);
       // justify-content: center;
        align-items: center;
        div{
            display: flex;
            flex-direction: row;
            img{
                margin-left: 20px;
                margin-right: 20px;
               
            }
            font-size: 20px;
            
        }
    }
    #tongJi1{
        width: 950px;
        height:315px;
    }
}
//统计不同变压所占比列
.gongcheng{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.constructor{
    position: absolute;
    width: 954px;
    height:298px;
    // background-color: red;
    left:0px;
    top: 500px;
    z-index: 10;
    //background-image:url(../image/num.png);
    opacity: .8;
    background-color: rgb(28, 26, 47);
    // border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
    color: rgb(86, 112, 179);
    .title{
        height: 45px;
        width: 358px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
   .touchan{
        width: 230px;
        height:230px;
        #touchan{
            width: 200px;
            height:200px;
        }
      
   }
   .sheji{
        width: 230px;
        height:230px;
        #sheji{
            width: 200px;
            height:200px;
        }
   }
  
}
#middle{
    color: white;
    font-size: 27px;
    position: absolute;
    width: 1094px;
    height:114px;
    float: left;
    left:955px;
    top:1080px;
    bottom: 0px;
    z-index: 102;
    opacity: .8;
    background-color: rgb(28, 26, 47);
    // border-radius: 5px;
    display: flex;
  justify-content: left;
    
    div{
        width: 50%;
        height: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.rightMiddle{
    color: white;
    font-size: 27px;
    position: absolute;
    width: 952px;
    height:135px;
    float: left;
    left:2046px;
    top:553px;
    bottom: 0px;
    z-index: 102;
    opacity: .8;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    #bg{
        width: 566px;
        height: 100%;
        background-image: url(../image/litimage/xianlubg.png);
    }
    #fiveArea{
        width: 386px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .line{
            height: 100%;
            width: 25%;
            box-sizing: border-box;
            border: 1px solid rgb(44, 59, 96);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgb(30, 37, 49);
        }
        &:nth-child(1){
            background-color: rgb(26, 46, 67);
        }
        
        p{
            text-align: center;
        }
    }
  
}
#titleOfProj{
    width: 954px;
    height: 73px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(40, 48, 70);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: white;
    div{
        img{
            margin-left: 20px;
            margin-right: 20px;
        }
        font-size: 20px;
    }
}